.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 900px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .carousel {
    width:auto;
    height:auto;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black !important;
  border-radius: 8px;
  width: 30px !important;
  height: 30px !important;
}

.carousel-caption {
  color: black !important;
  border-radius: 8px;
  background-color: #0000003b !important;
}

.pic-container{
  padding-right: 50px !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-width {
  width:800px;
}